/* Import Google Font: https://scotch.io/@micwanyoike/how-to-add-fonts-to-a-react-project */
/* root font size: 16px */

/* Style Core */
/* Necessary in React for font */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

:root{
  --background: #F0EDF0;
  --primary: #000000;
  --highlight: #7D6F7D;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  color: var(--primary);
  font-size: 2.5rem; /* 40px */
  letter-spacing: 0.03125rem; /* 0.5px */
  font-weight: 500;
}

h2 {
  color: var(--primary);
  font-size: 1.5rem; /* 24px */
  font-weight: 400;
}

h3 {
  color: var(--primary);
  font-size: 1.125rem; /* 18px */
  font-weight: 300;
}

h4 {
  color: var(--highlight);
  font-size: 1.0rem; /* 16px */
  font-weight: 300;
}

h5 {
  color: var(--highlight);
  font-size: 0.75rem; /* 12px */
  font-weight: 200
}

h6 {
  color: var(--highlight);
  font-size: 0.5rem; /* 8px */
  font-weight: 150
}

p {
  font-size: 1.125rem; /* 18px */
  /* letter-spacing: 0rem; */
}

a {
  color: var(--highlight);
  font-weight: 600; /* slightly darker */
}

a:hover {
  color: var(--highlight);
  opacity: 0.5;
  text-decoration: none;
}

/* Containers */
.mainContainer { /* Master container in main.js */
  color: var(--primary);
  background-color: var(--background);
  width: 100%;
  height: 100%;
  min-height: 100vh; /* guarantees minimum container height of full height screen */
  display: flex;
  flex-direction: column;
}

.bodyContainer { /* main content in home.js */
  padding: 1.25rem 1.75rem;
  margin: 6rem 1.0rem; /* 100 px 16px */
  min-height: 20vh; /* guarantees minimum height of half screen */
}

.productsContainer {
  padding: 0rem 5rem;
}

.headerContainer {
  height: 5rem;
  padding: 5rem 5rem;
}

.footerContainer {
  color: var(--highlight);
  padding: 0.2rem;
  /* position: absolute;
  left: 0;
  right: 0;
  bottom: 0; */
  /* background-color: var(--highlight);
  justify-content: 'flex-start';
  align-items: 'flex-start'; */
}

.divider {
  margin: 0.5rem 2.5rem;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #Products {
    text-align: center;
  }
}

/* banner not used */
.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  color: white;
  font-size: 2.5rem; /* 40px */
  letter-spacing: 0.03125rem; /* 0.5px */
  font-weight: 500;
}

.header-image {
  text-align: center;
}

/* Images */
.profileImage {
  height: calc(10rem + 10vh); /* 176px + 10% viewport height to pad scaling*/
  border-radius: 50%;
  margin-bottom: 1.5rem; /* 24px */
}

.productImage {
  margin: 0.625rem; /* 10px */
  border-radius: 0.625rem; /* 10px */
  width: 20vh;
  /* padding: 1vh; */
  background-color: white; /* for .pngs, .webp */
}

/* Styles for featured Card */
.featuredRow {
  /* background-color: rgba(255, 230, 255, 0.15); */
  background-color: var(--background);
  margin: 0.625rem;
  border-radius: 0.625rem;
  border-width: 0px;
  border-style: solid;
}

.featuredImage {
  margin: 0.625rem; /* 10px */
  border-radius: 0.625rem; /* 10px */
  width: 22.5vh;
  background-color: #FFF; /* white default for PNGs */
}

.featuredCard {
  /* background-color: rgba(255, 230, 255, 0.15); */
  background-color: var(--background);
  border-width: 0px;
}

.featuredCard:hover {
  opacity: 1; /* overridden by Card class hover */
}

.featuredCard h1 {
  font-size: 2rem;
}

.featuredCard h4 {
  font-size: 1rem;
  font-style: italic;
}

.featuredCard p {
  font-size: 1rem;
}

.demoButton {
  padding: 0.3125rem;
  margin: 0.3125rem;
  background-color: var(--highlight);
}

.demoButton:hover {
  background-color: var(--highlight);
}

.demoButton a {
  color: white;
}

.iconImage {
  margin: 1.0rem; /* 16px */
  height: 8vh;
}

/* Icons */
.social-links i {
  font-size: 1.5rem;
  margin: 0rem 0.3125rem; /* 10px */
  /* text-align: right; not working for some reason */
}

/* OLD product row & card */
.card-content {
  opacity: 0;
  cursor: pointer;
}

.card-content:hover {
  opacity: 1;
}

.spotifyCard {
  margin: 1rem 1rem;
}

/*
.card:hover {
  opacity: 0.75;
  background-image: 'url(https://pay.google.com/about/static/images/social/knowledge_graph_logo.png)';
}
*/

.product-row {
  justify-content: center;
  align-items: center;
  /* padding: 1rem 3.4rem; /* hacky fix for non-centered cards */
}
