/* slightly larger than size 1.125rem */
.blog-h2 {
  font-size: 1.75rem;
  background-color: var(--highlight);
  padding: 0.05rem;
}

.blog-p {
  font-size: 1.3rem;
  line-height: 2.25rem; /* naturally 1.75 rem */
  text-align: left;
  /* letter-spacing: 0.005rem; */
}

/* larger margin than App.css bodyContainer */
.blogContainer {
  padding: 1.25rem 2.5rem;
  margin: 4rem 12rem;
}

@media only screen and (max-width: 650px) {
  .bodyContainer {
    padding: 1.25rem 1.75rem;
    margin: 2rem 0.5rem
  }
}

.postContainer {
  /* background-color: grey; */
  padding: 2rem;
}
