/* Import Google Font: https://scotch.io/@micwanyoike/how-to-add-fonts-to-a-react-project */
/* root font size: 16px */

/* Style Core */
:root{
  --background: #F0EDF0;
  --primary: #000000;
  --highlight: #7D6F7D;
}

/* Base */
body {
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  color: var(--primary);
  font-size: 2.5rem; /* 40px */
  letter-spacing: 0.03125rem; /* 0.5px */
  font-weight: 500;
}

h2 {
  color: var(--primary);
  font-size: 1.5rem; /* 24px */
  font-weight: 400;
}

h3 {
  color: var(--primary);
  font-size: 1.125rem; /* 18px */
  font-weight: 300;
}

h4 {
  color: var(--highlight);
  font-size: 1.0rem; /* 16px */
  font-weight: 300;
}

h5 {
  color: var(--highlight);
  font-size: 0.75rem; /* 12px */
  font-weight: 200
}

p {
  font-size: 1.125rem; /* 18px */
}

a {
  color: var(--highlight);
  font-weight: 600; /* slightly darker */
}

a:hover {
  color: var(--highlight);
  opacity: 0.5;
}

/* Boxes */
.landing-grid {
  background: #D3CCE3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* Set position to fixed, left and top 0 for fixed banner. height 100% for fullscreen effect */
  text-align: center;
  width: 100%;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  color: white;
  font-size: 2.5rem; /* 40px */
  letter-spacing: 0.03125rem; /* 0.5px */
  font-weight: 500;
}

/* Images */
.profileImage {
  height: calc(11rem + 10vh); /* 176px + 10% viewport height to pad scaling*/
  border-radius: 50%;
  border-width: 0.375rem; /* 6px */
  border-color: var(--primary);
  border-style: solid;
  margin-bottom: 1.5rem; /* 24px */
}

.productImage {
  margin: 0.625rem; /* 10px */
  border-radius: 0.625rem; /* 10px */
  width: 20vh;
  /* padding: 1vh; */
  background-color: white; /* for .pngs, .webp */
}

.iconImage {
  margin: 1.0rem; /* 16px */
  height: 8vh;
}

/* Icons */
.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.products-grid {
  display: flex;
}

.card-title {
  color: '#fff';
  height: '176px';
  background-image: url("/public/static/img/poise_icon.png");
  background: 'center / cover';
}
