/* Import Google Font: https://scotch.io/@micwanyoike/how-to-add-fonts-to-a-react-project */
/* root font size: 16px */

/* Style Core */
/* Necessary in React */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

:root{
  --background: #F0EDF0;
  --primary: #000000;
  --highlight: #7D6F7D;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  color: var(--primary);
  font-size: 2.5rem; /* 40px */
  letter-spacing: 0.03125rem; /* 0.5px */
  font-weight: 500;
}

h2 {
  color: var(--primary);
  font-size: 1.5rem; /* 24px */
  font-weight: 400;
}

h3 {
  color: var(--primary);
  font-size: 1.125rem; /* 18px */
  font-weight: 300;
}

h4 {
  color: var(--highlight);
  font-size: 1.0rem; /* 16px */
  font-weight: 300;
}

h5 {
  color: var(--highlight);
  font-size: 0.75rem; /* 12px */
  font-weight: 200
}

h6 {
  color: var(--highlight);
  font-size: 0.5rem; /* 8px */
  font-weight: 150
}

p {
  font-size: 1.125rem; /* 18px */
}

a {
  color: var(--highlight);
  font-weight: 600; /* slightly darker */
}

a:hover {
  color: var(--highlight);
  opacity: 0.5;
}

/* Containers */
.mainContainer {
  color: var(--primary);
  background-color: var(--background);
  justify-content: 'center';
  align-items: 'center';
  padding: 1rem 1rem;
}

.bodyContainer {
  padding: 1.25rem 1.75rem;
  border-width: 0.375rem; /* 6px */
  border-color: var(--primary);
  border-style: solid;
  margin: 6.25rem 1.0rem; /* 100 px 16px */
}

.footerContainer {
  background-color: grey;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #Products {
    text-align: center;
  }
}

.landing-grid {
  /* Set position to fixed, left and top 0 for fixed banner. height 100% for fullscreen effect */
  text-align: center;
  width: 100%;
}

/* banner not used */
.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  color: white;
  font-size: 2.5rem; /* 40px */
  letter-spacing: 0.03125rem; /* 0.5px */
  font-weight: 500;
}

.header-image {
  text-align: center;
}

.header-words {
  text-align: left;
}

/* Images */
.profileImage {
  height: calc(10rem + 10vh); /* 176px + 10% viewport height to pad scaling*/
  border-radius: 50%;
  border-width: 0.125rem; /* 2px */
  border-color: grey;
  border-style: solid;
  margin-bottom: 1.5rem; /* 24px */
}

.productImage {
  margin: 0.625rem; /* 10px */
  border-radius: 0.625rem; /* 10px */
  width: 20vh;
  /* padding: 1vh; */
  background-color: white; /* for .pngs, .webp */
}

.iconImage {
  margin: 1.0rem; /* 16px */
  height: 8vh;
}

/* Icons */
.social-links {
  display: flex;
}

.social-links i {
  color: white;
  font-size: 2rem;
  padding: 0px;
}

.products-grid {
  display: flex;
}

.card-title {
  color: '#fff';
  height: '176px';
  background: 'center / cover';
}
